div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-md-12
        h1 This is the welcome view.
        p Here we will teach new users how to use our platform and we will help them get started by suggesting people for them to follow.

app-footer(ng-model='currentUser')
