div(ng-include='"components/navbar/navbar.html"')

.noPosts(ng-show='{{posts.lenth < 1}}')
  h1 It's lonely in here.
  P You can start following politicians by seaching form them and clicking the "follow" button.

.container(ng-repeat='post in posts')
  h2.mainTitle(ng-if='mainTitle') {{mainTitle}}
  .row
    .col-sm-2
      .row
        .col-xs-4.col-sm-12
          .profileImageFeed
            img.img-responsive.img-circle(ng-if='post.author.picture', ng-src='{{post.author.picture | userPicture}}', width='250px', height='250px')
            img.img-responsive.img-circle(ng-if='!post.author.picture', gravatar-src='post.author.email', gravatar-size='250')
        hr.hidden-xs
        .col-xs-8.col-sm-12
          div.feedName
            a.feedDescription.feedName(ng-click='goToProfile(post.author._id)') {{post.author.name}}
            p.feedDescription.feedPosition {{post.author.office}}
            p.feedDescription.feedArea {{post.author.area}}
        .col-xs-12
          hr
          p
            a.btn.btn-lg.btn-block(href='#', role='button', ng-class='post.isFollowing === true ? "btn-success" : "btn-default"') {{post.isFollowing === true ? 'Unfollow' : 'Follow'}}
    .col-sm-10
      .postTitle {{ post.headline || 'No Post Title' }}
      .postDate
        span(am-time-ago='post.date')
      .video-container
        stump-video(post='post', vid='{{ "video_" + $index }}')
        .pull-left
          span(style='line-height: 38px;') Tags:&nbsp;
            a.tag(ng-repeat='tag in post.tags', href='{{"/feed/tag/" + tag.text}}') {{tag.text}}
        .btn-group.pull-right
          a.btn(ng-click='like(post, likeCallback)', role='button' ng-class='post.btnClass') {{post.likes + ' Likes'}}
          a.btn.btn-default(href='#', role='button') {{post.shares + ' Shares'}}
  hr
div(growl)

app-footer(ng-model='currentUser')
