div(ng-include='"components/navbar/navbar.html"')

.container(ng-repeat='post in posts')
  .row
    .col-sm-2
      .row
        .col-xs-4.col-sm-12
          .profileImageFeed
            img.img-responsive.img-circle(ng-if='post.author.picture', ng-src='{{post.author.picture | userPicture}}', width='250px', height='250px')
            img.img-responsive.img-circle(ng-if='!post.author.picture', gravatar-src='post.author.email', gravatar-size='250')
        hr.hidden-xs
        .col-xs-8.col-sm-12
          div.feedName
            p.feedDescription.feedName {{post.author.name}}
            p.feedDescription.feedPosition {{post.author.office}}
            p.feedDescription.feedArea {{post.author.area}}
        .col-xs-12
          hr
          p
            a.btn.btn-lg.btn-block(href='#', role='button', ng-class='post.isFollowing === true ? "btn-success" : "btn-default"') {{person.isFollowing === true ? 'Unfollow' : 'Follow'}}
    .col-sm-10
      .postTitle {{ post.headline || 'No Post Title' }}
      stump-video(post='post')
  hr
div(growl)

app-footer(ng-model='currentUser')
