.profileImageFeed {
  margin: auto;
  padding-top: 12px;
}
.profileImageFeed img {
  margin: auto;
  vertical-align: middle;
}

.feedDescription {
  text-align: center;
}
.feedName {
  font-size: 24px;
  font-weight: 700;
}
.video-container {
  padding: 12px 0;
}

.profileImageFeed img.Republican {
  border: 4px solid blue;
}

.profileImageFeed img.Democrat {
  border: 4px solid red;
}
.feedName {
  padding-top: 8%;
}
.tag:after {
  content: ', '
}
.tag:last-child:after {
  content: ''
}
