.video-container
  video.sublime(preload='none', data-autoresize='fit', width='auto', height='auto', id='{{ "video_" + $index }}', data-uid='{{ post._id }}')
    source(src='{{ post.mp4SD }}')
    source(src='{{ post.mp4HD }}', data-quality='hd')
    source(src='{{ post.mobile }}')
    source(src='{{ post.webmSD }}')
    source(src='{{ post.webmSD }}', data-quality='hd')
  .pull-left
    span(style='line-height: 38px;') Tags:&nbsp;
      div(ng-repeat='tag in post.tags')
        a.tag(href='#') {{tag.text}}
  .btn-group.pull-right
    a.btn.btn-default(href='#', role='button') {{post.likes + ' Likes'}}
    a.btn.btn-default(href='#', role='button') {{post.likes + ' Shares'}}
