div(ng-include='"components/navbar/navbar.html"')

section.profile
  .container-fluid.profile-page
    .row
      .col-md-2.profile-info
        .row
          .col-xs-4.col-sm-12
            img.img-responsive.img-circle.profileImage(ng-if='user.picture', ng-src='{{user.picture | userPicture}}', width='250px', height='250px', class='{{user.party}}')
            img.img-responsive.img-circle.profileImage(ng-if='!user.picture', gravatar-src='user.email', gravatar-size='250', class='{{user.party}}')
          hr.hidden-xs
          .col-xs-8.col-sm-12
            div.feedName
              p.feedDescription.feedName {{user.name}}
              p.feedDescription.feedPosition {{user.office}}
              p.feedDescription.feedArea {{user.area}}
          .col-xs-12
            hr
            p
              a.btn.btn-primary.btn-lg.btn-block(href='#', role='button') Follow
      .col-md-7.profile-videos
        div(ng-repeat='post in posts')
          .postTitle {{ post.headline || 'No Post Title' }}
          .postDate
            span(am-time-ago='post.date')
          .video-container
            stump-video(post='post', vid='{{ "video_" + $index }}')
            .pull-left
              span(style='line-height: 38px;') Tags:&nbsp;
                a.tag(ng-repeat='tag in post.tags', href='{{"/feed/tag/" + tag.text}}') {{tag.text}}
            .btn-group.pull-right
              a.btn.btn-default(href='#', role='button') {{post.likes + ' Likes'}}
              a.btn.btn-default(href='#', role='button') {{post.likes + ' Shares'}}
      .col-md-3.profile-actions
        p action items go here

app-footer(ng-model='currentUser')
